.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 16px;
    padding: 16px;
}

.card-item {
    background-color: rgb(75, 74, 74);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 8px;
    text-align: center;
}

.card-image {
    width: 100%;
    border-radius: 4px;
}

.card-name {
    margin-top: 8px;
    font-size: 14px;
    font-weight: bold;
}